* {
    font-family: "Mx437 IBM VGA 8x16", "Siji", "Iosevka Term Regular";
    font-size: 12px;
    margin: 0 1px;
}

window#waybar {
    background-color: #000000;
    color: #DCD6D6;
}

#workspaces button {
    padding: 0 1px;
    color: #DCD6D6;
}

#workspaces button.focused {
    background-color: transparent;
    border-bottom: none;
}

#tray {
    padding: 0 6px;
}

#tray > .passive {
    -gtk-icon-effect: dim;
}

#tray > .needs-attention {
    -gtk-icon-effect: highlight;
    background-color: #386CBB;
}
#clock, #memory, #cpu, #battery, #pulseaudio, #window #disk, #tray {
    padding: 0 6px;
}
